{% extends "main/header.html" %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/style.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body id='bg' style="background-image: url('{%static 'background.jpg'%}');"></body>

<div class="card" style="background-color:gray;">

  <h1>Welcome {{user}}</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>


{% else %}

<p>Login to view</p>
{% endif %}
{% endblock %}