{% extends "main/header.html" %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
     <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>


<body>
<div id="about-me">
  <h1>About Me</h1>
  <p>Hi, I'm Jane Doe and I am a web developer. I have a passion for creating beautiful and user-friendly websites. I have a degree in computer science and have been working in the industry for the past 5 years. In my current role, I work as a full-stack developer, using languages such as HTML, CSS, JavaScript, and PHP. I am always looking for ways to improve my skills and stay up-to-date with the latest technologies and trends in the field. When I'm not coding, I enjoy hiking and traveling.</p>
</div>

</body>


{% endblock %}