{% extends "main/header.html" %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body id='bg' style="background-image: url('{%static 'background.jpg'%}');">
<h1 class="textCenter">I am Ahmed Jasarevic</h1>
<h2 class="textCenter2">Web Developer|</h2>
</body>


{% for tut in tutorials %}
                     <p>{{tut.tutorial_title}}</p>
                {% endfor %}
{% endblock %}